TrucoClient/Connected Services/TrucoServer/TrucoServiceBase3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrucoServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrucoServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmblemLayers" nillable="true" type="tns:ArrayOfEmblemLayer" />
      <xs:element minOccurs="0" name="FacebookHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstagramHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameChangeCount" type="xs:int" />
      <xs:element minOccurs="0" name="SocialLinksJson" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XHandle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileData" nillable="true" type="tns:UserProfileData" />
  <xs:complexType name="ArrayOfEmblemLayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmblemLayer" nillable="true" type="tns:EmblemLayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmblemLayer" nillable="true" type="tns:ArrayOfEmblemLayer" />
  <xs:complexType name="EmblemLayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorHex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rotation" type="xs:double" />
      <xs:element minOccurs="0" name="ScaleX" type="xs:double" />
      <xs:element minOccurs="0" name="ScaleY" type="xs:double" />
      <xs:element minOccurs="0" name="ShapeId" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="ZIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmblemLayer" nillable="true" type="tns:EmblemLayer" />
  <xs:complexType name="ArrayOfPlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerStats" nillable="true" type="tns:PlayerStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerStats" nillable="true" type="tns:ArrayOfPlayerStats" />
  <xs:complexType name="PlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Losses" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStats" nillable="true" type="tns:PlayerStats" />
  <xs:complexType name="ArrayOfMatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchResult" nillable="true" type="tns:MatchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchResult" nillable="true" type="tns:ArrayOfMatchResult" />
  <xs:complexType name="MatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchResult" nillable="true" type="tns:MatchResult" />
  <xs:complexType name="ArrayOfFriendData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendData" nillable="true" type="tns:FriendData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendData" nillable="true" type="tns:ArrayOfFriendData" />
  <xs:complexType name="FriendData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendData" nillable="true" type="tns:FriendData" />
</xs:schema>