TrucoClient/Connected Services/TrucoServer/TrucoServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TrucoServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITrucoUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ITrucoMatchService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ITrucoFriendService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/TrucoServiceBase?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/TrucoServiceBase?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/TrucoServiceBase?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrucoServer" />
      <xsd:import schemaLocation="http://localhost:8080/TrucoServiceBase?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrucoUserService_RequestEmailVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestEmailVerification" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_RequestEmailVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestEmailVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_ConfirmEmailVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmEmailVerification" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_ConfirmEmailVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmEmailVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_UsernameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExists" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_UsernameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_EmailExists_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailExists" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_EmailExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_UpdateUserAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAvatar" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_UpdateUserAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetUserProfileByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileByEmail" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetUserProfileByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetOnlinePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlinePlayers" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetOnlinePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlinePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetGlobalRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalRanking" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetGlobalRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlobalRankingResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetLastMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMatches" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetLastMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_SaveUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserProfile" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_SaveUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_PasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordReset" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_PasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_PasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChange" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_PasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnCardPlayed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardPlayed" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnChatMessage" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnMatchStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchStarted" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnMatchEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchEnded" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnFriendRequestReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestReceived" />
  </wsdl:message>
  <wsdl:message name="ITrucoUserService_OnFriendRequestAccepted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestAccepted" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_JoinMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatch" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_JoinMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_LeaveMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatch" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_PlayCard_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayCard" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_SendChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendChatMessage" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_JoinMatchChat_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchChat" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_LeaveMatchChat_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatchChat" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnCardPlayed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardPlayed" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnChatMessage" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnMatchStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchStarted" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnMatchEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchEnded" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnFriendRequestReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestReceived" />
  </wsdl:message>
  <wsdl:message name="ITrucoMatchService_OnFriendRequestAccepted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestAccepted" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_RemoveFriendOrRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendOrRequest" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_RemoveFriendOrRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendOrRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_GetPendingFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingFriendRequests" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_GetPendingFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnPlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnPlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLeft" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnCardPlayed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCardPlayed" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnChatMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnChatMessage" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnMatchStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchStarted" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnMatchEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMatchEnded" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnFriendRequestReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestReceived" />
  </wsdl:message>
  <wsdl:message name="ITrucoFriendService_OnFriendRequestAccepted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendRequestAccepted" />
  </wsdl:message>
  <wsdl:portType name="ITrucoUserService">
    <wsdl:operation name="RequestEmailVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/RequestEmailVerification" message="tns:ITrucoUserService_RequestEmailVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/RequestEmailVerificationResponse" message="tns:ITrucoUserService_RequestEmailVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmEmailVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/ConfirmEmailVerification" message="tns:ITrucoUserService_ConfirmEmailVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/ConfirmEmailVerificationResponse" message="tns:ITrucoUserService_ConfirmEmailVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/Register" message="tns:ITrucoUserService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/RegisterResponse" message="tns:ITrucoUserService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/UsernameExists" message="tns:ITrucoUserService_UsernameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/UsernameExistsResponse" message="tns:ITrucoUserService_UsernameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/EmailExists" message="tns:ITrucoUserService_EmailExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/EmailExistsResponse" message="tns:ITrucoUserService_EmailExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/Login" message="tns:ITrucoUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/LoginResponse" message="tns:ITrucoUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/UpdateUserAvatar" message="tns:ITrucoUserService_UpdateUserAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/UpdateUserAvatarResponse" message="tns:ITrucoUserService_UpdateUserAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/GetUserProfileByEmail" message="tns:ITrucoUserService_GetUserProfileByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/GetUserProfileByEmailResponse" message="tns:ITrucoUserService_GetUserProfileByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlinePlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/GetOnlinePlayers" message="tns:ITrucoUserService_GetOnlinePlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/GetOnlinePlayersResponse" message="tns:ITrucoUserService_GetOnlinePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/GetGlobalRanking" message="tns:ITrucoUserService_GetGlobalRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/GetGlobalRankingResponse" message="tns:ITrucoUserService_GetGlobalRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/GetLastMatches" message="tns:ITrucoUserService_GetLastMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/GetLastMatchesResponse" message="tns:ITrucoUserService_GetLastMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/GetUserProfile" message="tns:ITrucoUserService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/GetUserProfileResponse" message="tns:ITrucoUserService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/SaveUserProfile" message="tns:ITrucoUserService_SaveUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/SaveUserProfileResponse" message="tns:ITrucoUserService_SaveUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/PasswordReset" message="tns:ITrucoUserService_PasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/PasswordResetResponse" message="tns:ITrucoUserService_PasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoUserService/PasswordChange" message="tns:ITrucoUserService_PasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/PasswordChangeResponse" message="tns:ITrucoUserService_PasswordChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnPlayerJoined" message="tns:ITrucoUserService_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnPlayerLeft" message="tns:ITrucoUserService_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardPlayed">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnCardPlayed" message="tns:ITrucoUserService_OnCardPlayed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnChatMessage" message="tns:ITrucoUserService_OnChatMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnMatchStarted" message="tns:ITrucoUserService_OnMatchStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnMatchEnded" message="tns:ITrucoUserService_OnMatchEnded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnFriendRequestReceived" message="tns:ITrucoUserService_OnFriendRequestReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestAccepted">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoUserService/OnFriendRequestAccepted" message="tns:ITrucoUserService_OnFriendRequestAccepted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITrucoMatchService">
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/CreateMatch" message="tns:ITrucoMatchService_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/CreateMatchResponse" message="tns:ITrucoMatchService_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/JoinMatch" message="tns:ITrucoMatchService_JoinMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/JoinMatchResponse" message="tns:ITrucoMatchService_JoinMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/LeaveMatch" message="tns:ITrucoMatchService_LeaveMatch_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/PlayCard" message="tns:ITrucoMatchService_PlayCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/SendChatMessage" message="tns:ITrucoMatchService_SendChatMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMatchChat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/JoinMatchChat" message="tns:ITrucoMatchService_JoinMatchChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveMatchChat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoMatchService/LeaveMatchChat" message="tns:ITrucoMatchService_LeaveMatchChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnPlayerJoined" message="tns:ITrucoMatchService_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnPlayerLeft" message="tns:ITrucoMatchService_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardPlayed">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnCardPlayed" message="tns:ITrucoMatchService_OnCardPlayed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnChatMessage" message="tns:ITrucoMatchService_OnChatMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnMatchStarted" message="tns:ITrucoMatchService_OnMatchStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnMatchEnded" message="tns:ITrucoMatchService_OnMatchEnded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnFriendRequestReceived" message="tns:ITrucoMatchService_OnFriendRequestReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestAccepted">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoMatchService/OnFriendRequestAccepted" message="tns:ITrucoMatchService_OnFriendRequestAccepted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITrucoFriendService">
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoFriendService/SendFriendRequest" message="tns:ITrucoFriendService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/SendFriendRequestResponse" message="tns:ITrucoFriendService_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoFriendService/AcceptFriendRequest" message="tns:ITrucoFriendService_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/AcceptFriendRequestResponse" message="tns:ITrucoFriendService_AcceptFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriendOrRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoFriendService/RemoveFriendOrRequest" message="tns:ITrucoFriendService_RemoveFriendOrRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/RemoveFriendOrRequestResponse" message="tns:ITrucoFriendService_RemoveFriendOrRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoFriendService/GetFriends" message="tns:ITrucoFriendService_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/GetFriendsResponse" message="tns:ITrucoFriendService_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrucoFriendService/GetPendingFriendRequests" message="tns:ITrucoFriendService_GetPendingFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/GetPendingFriendRequestsResponse" message="tns:ITrucoFriendService_GetPendingFriendRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnPlayerJoined" message="tns:ITrucoFriendService_OnPlayerJoined_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnPlayerLeft" message="tns:ITrucoFriendService_OnPlayerLeft_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCardPlayed">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnCardPlayed" message="tns:ITrucoFriendService_OnCardPlayed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnChatMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnChatMessage" message="tns:ITrucoFriendService_OnChatMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnMatchStarted" message="tns:ITrucoFriendService_OnMatchStarted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMatchEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnMatchEnded" message="tns:ITrucoFriendService_OnMatchEnded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnFriendRequestReceived" message="tns:ITrucoFriendService_OnFriendRequestReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestAccepted">
      <wsdl:output wsaw:Action="http://tempuri.org/ITrucoFriendService/OnFriendRequestAccepted" message="tns:ITrucoFriendService_OnFriendRequestAccepted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITrucoUserService" type="tns:ITrucoUserService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITrucoUserService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RequestEmailVerification">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/RequestEmailVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmEmailVerification">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/ConfirmEmailVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExists">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/UsernameExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailExists">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/EmailExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAvatar">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/UpdateUserAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfileByEmail">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/GetUserProfileByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlinePlayers">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/GetOnlinePlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalRanking">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/GetGlobalRanking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMatches">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/GetLastMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserProfile">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/SaveUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordReset">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/PasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChange">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/PasswordChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardPlayed">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnCardPlayed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnChatMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnMatchStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchEnded">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnMatchEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnFriendRequestReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestAccepted">
      <soap12:operation soapAction="http://tempuri.org/ITrucoUserService/OnFriendRequestAccepted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ITrucoMatchService" type="tns:ITrucoMatchService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITrucoMatchService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateMatch">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/CreateMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/JoinMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/LeaveMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PlayCard">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/PlayCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/SendChatMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="JoinMatchChat">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/JoinMatchChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveMatchChat">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/LeaveMatchChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardPlayed">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnCardPlayed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnChatMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnMatchStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchEnded">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnMatchEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnFriendRequestReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestAccepted">
      <soap12:operation soapAction="http://tempuri.org/ITrucoMatchService/OnFriendRequestAccepted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ITrucoFriendService" type="tns:ITrucoFriendService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITrucoFriendService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriendOrRequest">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/RemoveFriendOrRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/GetPendingFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnPlayerJoined" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnPlayerLeft" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCardPlayed">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnCardPlayed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnChatMessage">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnChatMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchStarted">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnMatchStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMatchEnded">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnMatchEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestReceived">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnFriendRequestReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendRequestAccepted">
      <soap12:operation soapAction="http://tempuri.org/ITrucoFriendService/OnFriendRequestAccepted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrucoServer">
    <wsdl:port name="NetTcpBinding_ITrucoUserService" binding="tns:NetTcpBinding_ITrucoUserService">
      <soap12:address location="net.tcp://localhost:8091/TrucoServiceBase/user" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/TrucoServiceBase/user</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS\themr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ITrucoMatchService" binding="tns:NetTcpBinding_ITrucoMatchService">
      <soap12:address location="net.tcp://localhost:8091/TrucoServiceBase/match" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/TrucoServiceBase/match</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS\themr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ITrucoFriendService" binding="tns:NetTcpBinding_ITrucoFriendService">
      <soap12:address location="net.tcp://localhost:8091/TrucoServiceBase/friend" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/TrucoServiceBase/friend</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>VICTUS\themr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>